<!DOCTYPE html>

<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type = "text/javascript" src = "/views/subscribed_artists.js"></script>
    </head>
    <body>
        <div>
            <h1>Subscribed artists</h1>
            <div id="subscribedArtists" data-subs= '<%- jsonsubs  -%>' ></div>
            <div>
              To Add,
              artist page link,
              artist notification settings,
            </div>
            <% if (subs.length) { %>
                <ul>
                <% subs.forEach(function(sub) { %>
                  <img src = '<%= sub.artist_img %>'></img><br>
                    <%= sub.artist_name %><br>
                  <button id = "viewArtistPage">View artist Page</button><br>
                  <p id = "notification_buttons">Notification Settings</p><br>

                <% }); %>
                </ul>
              <% } else { %>
                <p>No subscribed artists found.</p>
              <% } %>
              
        </div>
        <div>
           <h1>Send Email Notification</h1>
           <button id = "email-notif">Press here</button>
          </div>
        <div>
            <button id = "go_back">go back</button>
        </div>
        
    </body>

</html>
